header,
h1,
h2,
h3 {
 text-align: center;
}
header .links {
    font-size: 20px;
    

}



header {
    color: hotpink;
    font-size: 80px;
    background-color: rgb(0, 0, 10);
}
 nav li {
    display: inline-block;
    position: end;
    font-size: 15px;
    background-color: 100% blueviolet;
    color: yellow ;
 }

.card {
    width: 80%;
    margin: 40px auto;
    border: 2px solid rgb(248, 6, 6);
    box-shadow: 5px 10px #5a0a0a; 
   }